body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
ul, li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

p
{
    padding: 0;
    margin: 0;
}

.CalcBox
{
    background-color: grey;
    color: grey;
    width: 500px;
    height: 660px;
    margin-left: 100px;
    border-radius: 25px;
}

.ButtonPositions
{
    display: block;
    width: 300px;
    margin-left: 25%;
    padding-top: 40%;
    list-style: none;
}

.DisplayMath
{
    position: relative;
    display: block;
    color: rgb(41, 38, 38);
    background-color: rgb(41, 38, 38);
    height: 100px;
    width: 400px;
    margin-left: 10%;

}

.CalcButton
{
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ButtonGuesser
{
    left: 800px;
    bottom: 400px;
    position:absolute;
    width: 400px;
    background-color: yellow;
}

.DiceRoller
{
    left: 1250px;
    top: 500px;
    margin-right: 200px;
    position: absolute;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    border-style: dashed;
    border-color: aqua;
    background-color: mintcream;
}

.DiceOutcomes
{
    display: flex;
}

.CardHandHolder
{
    background-color: lightgrey;
    width: 1250px;
    height: 400px;
    margin-left: 400px;

}

.CardContainer
{
    align-items: center;
    justify-content: center;
    display: flex;
}



.clcok
{
    width: 120px;
    height: 40px;
    background-color: aqua;
    display: flex;
}

.clcokElements
{
    width: auto;
    height: 40px;
    margin-top: 0px;
}

.StopWatch
{
    position: absolute;
    background-color: beige;
    outline-color: black;
    border-radius: 40px;
    display: flex;
    width: 700px;
    height: 400px;
    outline-width: 4px;
    left: 800px;
    padding-left: 150px;

}

.stopWatch
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.StopWatchButton
{
    width: 175px;
    height: 45px;
    border-radius: 30px;
}

.RPS
{
    position: absolute;
    top: 1500px;
    left: 100px;
    background-color: greenyellow;
    width: 500px;
    height: 350px;

}

.centerContent
{
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
}

.rpsOptionButton
{
    width: 75px;
    height: 75px;
    border-radius: 180px;
    font-size: 32px;
}

.rotate
{
    transform: rotate(180deg);
    transform: scaleX(-1);
}

.poekmoninfobox
{
    width: 400px;
    height: 400px;
    background-color: darkblue;
    position: absolute;
    left: 1900px;
}
